<div class="container mx-auto px-4 py-2">
  <h1 class="text-3xl font-bold mb-8 text-center text-zinc-900 dark:text-zinc-300 transition-colors duration-200">
    Bienvenido al Sistema de Gestión del Museo</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-12">
    <div
      class="border-[1px] border-blue-200 bg-blue-100 dark:bg-blue-800/20 dark:border-blue-500/20 rounded-lg shadow-lg p-6 transition-colors duration-200 flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-4 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Piezas de
          Museo</h2>
        <p class="mb-4 text-zinc-700 dark:text-zinc-300 transition-colors duration-200">Gestiona, añade o modifica las
          piezas del museo.</p>
      </div>
      <div class="mt-auto">
        <a href="/menu"
          class="block w-full shadow text-center bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-500/70 transition-colors duration-200">Ver
          Piezas</a>
      </div>
    </div>

    <div
      class="border-[1px] border-amber-200 bg-amber-100 dark:bg-amber-800/20 dark:border-amber-500/20 rounded-lg shadow-lg p-6 transition-colors duration-200 flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-4 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Préstamo
          de Piezas</h2>
        <p class="mb-4 text-zinc-700 dark:text-zinc-300 transition-colors duration-200">Registra y administra los
          préstamos de piezas del museo.</p>
      </div>
      <div class="mt-auto">
        <a href="/listarPrestamo"
          class="block w-full shadow text-center bg-amber-500 text-white px-4 py-2 rounded-lg hover:bg-amber-500/70 transition-colors duration-200">Gestionar
          Préstamos</a>
      </div>
    </div>

    <div
      class="border-[1px] border-yellow-200 bg-yellow-100 dark:bg-yellow-800/20 dark:border-yellow-500/20 rounded-lg shadow-lg p-6 transition-colors duration-200 flex flex-col justify-between h-full">
      <div>
        <h2 class="text-xl font-semibold mb-4 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Registro
          de Taxidermia</h2>
        <p class="mb-4 text-zinc-700 dark:text-zinc-300 transition-colors duration-200">Añade y gestiona los registros
          de taxidermia del museo.</p>
      </div>
      <div class="mt-auto">
        <a href="/listarTaxidermia"
          class="block w-full shadow text-center bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-500/70 transition-colors duration-200">Ver
          Taxidermias</a>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-2xl font-semibold mb-4 text-zinc-900 dark:text-white">Resumen</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div
        class="border-[1px] border-blue-200 bg-blue-100 dark:bg-blue-800/20 dark:border-blue-500/20 rounded-lg shadow-lg p-4 transition-colors duration-200">
        <h3 class="font-semibold mb-2 text-zinc-800 dark:text-zinc-200">Total de Piezas</h3>
        {{#if piezas.length}}
        <p class="text-4xl text-zinc-900 dark:text-white">{{piezas.length}}</p>
        {{else}}
        <p class="text-sm text-zinc-900 dark:text-white">No hay piezas registradas.</p>
        {{/if}}
      </div>
      <div
        class="border-[1px] border-amber-200 bg-amber-100 dark:bg-amber-800/20 dark:border-amber-500/20 rounded-lg shadow-lg p-4 transition-colors duration-200">
        <h3 class="font-semibold mb-2 text-zinc-800 dark:text-zinc-200">Piezas en Préstamo</h3>
        {{#if prestamos.length}}
        <p class="text-4xl text-zinc-900 dark:text-white">{{prestamos.length}}</p>
        {{else}}
        <p class="text-sm text-zinc-900 dark:text-white">No hay préstamos registrados.</p>
        {{/if}}
      </div>
      <div
        class="border-[1px] border-yellow-200 bg-yellow-100 dark:bg-yellow-800/20 dark:border-yellow-500/20 rounded-lg shadow-lg p-4 transition-colors duration-200">
        <h3 class="font-semibold mb-2 text-zinc-800 dark:text-zinc-200">Taxidermias de Piezas</h3>
        {{#if taxidermias.length}}
        <p class="text-4xl text-zinc-900 dark:text-white">{{taxidermias.length}}</p>
        {{else}}
        <p class="text-sm text-zinc-900 dark:text-white">No hay taxidermias registradas.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>