{{!-- Dashboard Tabla Taxidermia --}}
<div class="container mx-auto py-8 transition-colors duration-200">
    <div class="mb-4 flex justify-between">
        <h1 class="text-3xl font-bold text-zinc-900 dark:text-zinc-100 pl-2 transition-colors duration-200">Registro de
            Taxidermia</h1>
        <div class="flex space-x-3">
            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="absolute left-3 top-1/2 transform -translate-y-1/2 text-zinc-400 dark:text-zinc-500 w-4"
                    viewBox="0 0 24 24" fill="currentColor">
                    <path
                        d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z">
                    </path>
                </svg>
                <input type="text" placeholder="Buscar"
                    class="pl-10 pr-4 py-2 rounded-lg w-64 border border-zinc-200 dark:border-zinc-800 dark:bg-zinc-900 transition-colors duration-200 dark:text-white"
                    id="searchInput" onkeyup="filterTable()">
            </div>
            <a href="/nuevaTaxidermia"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md w-full transition-colors duration-200 dark:bg-blue-800/60 dark:text-blue-500 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 mr-3" viewBox="0 0 24 24" fill="currentColor">
                    <path
                        d="M11 11.0001L11 2.0005L13 2.00049L13 11.0001L22.0001 10.9999L22.0002 12.9999L13 13.0001L13.0001 22L11.0001 22L11.0001 13.0001L2.00004 13.0003L2 11.0003L11 11.0001Z">
                    </path>
                </svg>Agregar Registro de Taxidermia
            </a>
        </div>
    </div>
    <div class="overflow-auto rounded-lg shadow-md mb-4">
        <table class="w-full text-sm text-left text-zinc-700 dark:text-zinc-300 transition-colors duration-200"
            id="taxidermiaTable">
            <thead
                class="text-xs text-zinc-800 dark:text-zinc-200 bg-zinc-200 dark:bg-zinc-700 transition-colors duration-200 text-center">
                <tr>
                    <th class="py-2 px-2 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">N° Registro
                    </th>
                    <th class="py-2 px-2 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Número Pieza
                    </th>
                    <th class="py-2 px-2 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Nombre Pieza
                    </th>
                    <th class="py-2 px-2 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Fecha de Mantenimiento
                    </th>
                    <th class="py-2 px-2 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Observaciones
                    </th>
                    <th class="py-2 px-2 w-28 text-zinc-800 dark:text-zinc-200 transition-colors duration-200">Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each taxidermia}}
                <tr
                    class="odd:bg-zinc-100 even:bg-zinc-200 dark:odd:bg-zinc-800 dark:even:bg-zinc-700 
                   {{#if @last}} border-b-0 {{else}} border-b border-zinc-300 dark:border-zinc-600 {{/if}} transition-colors duration-200">
                    <td class="py-2 px-2 text-center">{{this.idTaxidermia}}</td>
                    <td class="py-2 px-2 text-center">{{this.numeroPiezas}}</td>
                    <td class="py-2 px-2 text-center">{{this.nombrePieza}}</td>
                    <td class="py-2 px-2 text-center">{{this.fechaMantenimiento}}</td>
                    <td class="py-2 px-2 text-center">{{this.observacionTaxidermia}}</td>
                    <td class="p-3">
                        <div class="flex flex-col space-y-2 w-full">
                            <button
                                class="bg-red-600 text-white font-bold py-2 px-4 rounded-md hover:bg-red-500 w-full transition-colors duration-200 dark:bg-red-800/60 dark:text-red-500 flex justify-center"
                                data-numero="{{this.idTaxidermia}}" onclick="openConfirmDeleteModal(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 mr-2" viewBox="0 0 24 24"
                                    fill="currentColor">
                                    <path
                                        d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                                    </path>
                                </svg> Eliminar
                            </button>
                            <form action="/modificarTaxidermia" method="post">
                                <input type="hidden" name="editar" value="{{this.idTaxidermia}}">
                                <button type="submit"
                                    class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-md w-full transition-colors duration-200 dark:bg-yellow-800/60 dark:text-yellow-500 flex justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 mr-2" viewBox="0 0 24 24"
                                        fill="currentColor">
                                        <path
                                            d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z">
                                        </path>
                                    </svg>Editar
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de Confirmación -->
<div id="confirmDeleteModal" class="relative z-10 hidden" aria-labelledby="confirmDeleteModalLabel" role="dialog"
    aria-modal="true">
    <div class="fixed inset-0 bg-zinc-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
                class="relative transform overflow-hidden rounded-lg bg-white dark:bg-zinc-800 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white dark:bg-zinc-800 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 dark:bg-red-900 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600 dark:text-red-400" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-zinc-900 dark:text-zinc-100"
                                id="confirmDeleteModalLabel">Confirmación de Eliminación</h3>
                            <div class="mt-2">
                                <p class="text-sm text-zinc-700 dark:text-zinc-300">¿Estás seguro de que deseas eliminar
                                    la Taxidermia con número <span id="TaxidermiaNumero"></span>?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-zinc-100 dark:bg-zinc-700 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <form action="/deleteTaxidermia" method="post">
                        <input type="hidden" id="TaxidermiaNumeroInput" name="NroTax" value="">
                        <button type="submit"
                            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto transition-colors duration-200"
                            id="confirmDeleteBtn">Sí, estoy seguro</button>
                    </form>
                    <button type="button"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white dark:bg-zinc-600 px-3 py-2 text-sm font-semibold text-zinc-900 dark:text-zinc-100 shadow-sm ring-1 ring-inset ring-zinc-300 dark:ring-zinc-500 hover:bg-zinc-50 dark:hover:bg-zinc-500 sm:mt-0 sm:w-auto transition-colors duration-200"
                        onclick="toggleModal('confirmDeleteModal')">No deseo eliminar la taxidermia</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleModal(modalID) {
        document.getElementById(modalID).classList.toggle('hidden');
    }

    function openConfirmDeleteModal(button) {
        const TaxidermiaNumero = button.getAttribute('data-numero');
        document.getElementById('TaxidermiaNumero').innerText = TaxidermiaNumero;
        document.getElementById('TaxidermiaNumeroInput').value = TaxidermiaNumero;
        toggleModal('confirmDeleteModal');
    }

    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('taxidermiaTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let rowVisible = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j]) {
                    const cellValue = cells[j].textContent || cells[j].innerText;
                    if (cellValue.toLowerCase().indexOf(filter) > -1) {
                        rowVisible = true;
                        break;
                    }
                }
            }

            rows[i].style.display = rowVisible ? '' : 'none';
        }
    }

    document.getElementById('searchInput').addEventListener('input', filterTable);
</script>