<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-4xl font-bold leading-9 tracking-tight text-gray-900"
    >Modificar Préstamo:</h2>
    <h6
      class="mt-1 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >{{prestamo.numeroPrestamo}}</h6>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="/actualizarPrestamo" method="POST">

      <div>
        <label
          for="numeroPrestamo"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Numero de Prestamo</label>
        <div class="mt-2">
          <input
            id="numeroPrestamo"
            name="numeroPrestamo"
            type="number"
            required
            readonly
            value="{{prestamo.numeroPrestamo}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="numeroPiezas"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Numero de Piezas</label>
        <div class="mt-2">
          <input
            id="numeroPiezas"
            name="numeroPiezas"
            type="text"
            required
            value="{{prestamo.numeroPiezas}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="eventoPrestamo"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Tipo de Evento</label>
        <div class="mt-2">
          <input
            id="eventoPrestamo"
            name="eventoPrestamo"
            type="text"
            required
            value="{{prestamo.eventoPrestamo}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="fechaPrestamo"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Fecha de Prestamo</label>
        <div class="mt-2">
          <input
            id="fechaPrestamo"
            name="fechaPrestamo"
            type="date"
            required
            value="{{prestamo.fechaPrestamo}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="fechaDevolucion"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Fecha de Devolucion</label>
        <div class="mt-2">
          <input
            id="fechaDevolucion"
            name="fechaDevolucion"
            type="date"
            required
            value="{{prestamo.fechaDevolucion}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="cantidad"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Cantidad</label>
        <div class="mt-2">
          <input
            id="cantidad"
            name="cantidad"
            type="number"
            required
            value="{{prestamo.cantidad}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <label
          for="observacionPrestamo"
          class="block text-sm font-medium leading-6 text-gray-900"
        >Observacion</label>
        <div class="mt-2">
          <input
            id="observacionPrestamo"
            name="observacionPrestamo"
            type="text"
            required
            value="{{prestamo.observacionPrestamo}}"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 value:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >Guardar Cambios</button>
      </div>
      <div>
        <a
          href="/listarPrestamo"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >Cancelar</a>
      </div>
    </form>
  </div>
</div>